/*
* from left
*/
.fromLeftEnter {
  transform: translateX(-100%);
  opacity: 0;
}
.fromLeftEnterActive {
  transform: translateX(0);
  transition: transform 300ms ease-in;
  opacity: 0.5;
}
.fromLeftEnterDone {
  opacity: 1;
}
.fromLeftExit {
  transform: translateX(0);
  opacity: 1;
}
.fromLeftExitActive {
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
  opacity: 0.5;
}
.fromLeftExitDone {
  opacity: 0;
}
/*
* from right
*/
.fromRightEnter {
  transform: translateX(+100%);
  opacity: 0;
}
.fromRightEnterActive {
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  opacity: 0.5;
}
.fromRightEnterDone {
  opacity: 1;
}
.fromRightExit {
  transform: translateX(100%);
  opacity: 1;
}
.fromRightExitActive {
  transform: translateX(+100%);
  transition: transform 300ms ease-out;
  opacity: 0.5;
}
.fromRightExitDone {
  opacity: 0;
}
/*
* from above
*/
.fromAboveEnter {
  transform: translateY(-100%);
  opacity: 0;
}
.fromAboveEnterActive {
  transform: translateY(0);
  transition: transform 300ms ease-in;
  opacity: 0.5;
}
.fromAboveEnterDone {
  opacity: 1;
}
.fromAboveExit {
  transform: translateY(0);
  opacity: 1;
}
.fromAboveExitActive {
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
  opacity: 0.5;
}
.fromAboveExitDone {
  opacity: 0;
}
/*
* from below
*/
.fromBelowEnter {
  transform: translateY(100%);
  opacity: 0;
}
.fromBelowEnterActive {
  transform: translateY(0);
  transition: transform 300ms ease-in;
  opacity: 0.5;
}
.fromBelowEnterDone {
  opacity: 1;
}
.fromBelowExit {
  transform: translateY(0);
  opacity: 1;
}
.fromBelowExitActive {
  transform: translateY(100%);
  transition: transform 300ms ease-out;
  opacity: 0.5;
}
.fromBelowExitDone {
  opacity: 0;
}
/*
* generic
*/
.fromLeft {
  background-color: var(--secondary);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
}
.fromRight {
  background-color: rgb(97, 34, 87);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.fromAbove {
  background-color: rgb(65, 65, 198);
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.fromBelow {
  background-color: rgb(38, 137, 137);
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
