.base {
  font-family: var(--font-family-arial-sans-serif);
  border: 0;
  text-transform: uppercase;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  letter-spacing: 0.0625rem;
  font-weight: bold;
  margin: 0.5rem;
  color: var(--white);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  &:focus {
    transition: all 0.5s;
  }
  &:hover {
    transition: all 0.5s;
  }
}
.base svg {
  margin: 0;
  padding: 0;
}
.primary {
  background-color: var(--primary);
  &:focus {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:focus-within {
    background-color: var(--primary-dark);
  }
  &:visited {
    background-color: var(--primary-shadow);
  }
  &:hover {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
}
.secondary {
  background-color: var(--secondary);
  &:focus {
    background-color: var(--secondary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--secondary-shadow-light);
  }
  &:focus-within {
    background-color: var(--secondary-dark);
  }
  &:visited {
    background-color: var(--secondary-shadow);
  }
  &:hover {
    background-color: var(--secondary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--secondary-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--secondary-shadow-light);
  }
}
.success {
  background-color: var(--success);
  &:focus {
    background-color: var(--success-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--success-shadow-light);
  }
  &:focus-within {
    background-color: var(--success-dark);
  }
  &:visited {
    background-color: var(--success-shadow);
  }
  &:hover {
    background-color: var(--success-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--success-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--success-shadow-light);
  }
}
.danger {
  background-color: var(--danger);
  &:focus {
    background-color: var(--danger-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--danger-shadow-light);
  }
  &:focus-within {
    background-color: var(--danger-dark);
  }
  &:visited {
    background-color: var(--danger-shadow);
  }
  &:hover {
    background-color: var(--danger-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--danger-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--danger-shadow-light);
  }
}
.warning {
  color: var(--black);
  background-color: var(--warning);
  &:focus {
    background-color: var(--warning-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--warning-shadow-light);
  }
  &:focus-within {
    background-color: var(--warning-dark);
  }
  &:visited {
    background-color: var(--warning-shadow);
  }
  &:hover {
    background-color: var(--warning-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--warning-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--warning-shadow-light);
  }
}
.info {
  color: var(--black);
  background-color: var(--info);
  &:focus {
    background-color: var(--info-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--info-shadow-light);
  }
  &:focus-within {
    background-color: var(--info-dark);
  }
  &:visited {
    background-color: var(--info-shadow);
  }
  &:hover {
    background-color: var(--info-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--info-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--info-shadow-light);
  }
}
.light {
  color: var(--black);
  background-color: var(--light);
  &:focus {
    background-color: var(--light-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--light-shadow-light);
  }
  &:focus-within {
    background-color: var(--light-dark);
  }
  &:visited {
    background-color: var(--light-shadow);
  }
  &:hover {
    background-color: var(--light-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--light-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--light-shadow-light);
  }
}
.dark {
  background-color: var(--black);
  &:focus {
    background-color: var(--dark-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--dark-shadow-light);
  }
  &:focus-within {
    background-color: var(--dark-dark);
  }
  &:visited {
    background-color: var(--dark-shadow);
  }
  &:hover {
    background-color: var(--dark-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--dark-shadow);
  }
  &:focus-visible {
    outline: 0rem 0rem 0rem 0.25rem var(--dark-shadow-light);
  }
}
.link {
  font-family: var(--font-family-arial-sans-serif);
  border: 1px solid transparent;
  text-decoration: underline;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: 0.0625rem;
  line-height: 1rem;
  font-weight: bold;
  background-color: transparent;
  user-select: none;
  padding: 0;
  margin: 0.5rem;
  color: var(--link-color);
  &:focus {
    box-shadow: 0 0 0 0.25rem var(--link-shadow);
  }
  &:hover {
    color: var(--link-color-hover);
  }
  &:focus-visible {
    outline: 0 0 0 0.25rem var(--link-shadow);
  }
}

.small {
  padding: 0.5rem 1.5rem;
  font-size: 0.55rem;
  &:focus {
    padding: 0.5rem 1.5rem;
  }
  &:hover {
    padding: 0.5rem 1.5rem;
  }
}
.medium {
  padding: 0;
  font-size: 0.75rem;
  &:focus {
    padding: 0;
  }
  &:hover {
    padding: 0;
  }
}
.large {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  &:focus {
    padding: 1rem 2rem;
  }
  &:hover {
    padding: 1rem 2rem;
  }
}

.outline {
  background-color: transparent;
  border: 1px;
  border-style: solid;
  &:hover {
    color: var(--white);
  }
  &:focus {
    background-color: transparent;
  }
  &:focus-within {
    background-color: transparent;
  }
}

.outline-primary {
  border-color: var(--primary);
  color: var(--primary);
  &:focus-within {
    color: var(--primary);
  }
}
.outline-secondary {
  border-color: var(--secondary);
  color: var(--secondary);
  &:focus-within {
    color: var(--secondary);
  }
}
.outline-success {
  border-color: var(--success);
  color: var(--success);
  &:focus-within {
    color: var(--success);
  }
}
.outline-danger {
  border-color: var(--danger);
  color: var(--danger);
  &:focus-within {
    color: var(--danger);
  }
}
.outline-warning {
  border-color: var(--warning);
  color: var(--warning);
  &:focus-within {
    color: var(--warning);
  }
}
.outline-info {
  border-color: var(--info);
  color: var(--info);
  &:focus-within {
    color: var(--info);
  }
}
.outline-light {
  border-color: var(--light);
  color: var(--light);
  &:focus-within {
    color: var(--light);
  }
  &:hover {
    color: var(--black);
  }
}
.outline-dark {
  border-color: var(--dark);
  color: var(--dark);
  &:focus-within {
    color: var(--dark);
  }
  &:hover {
    color: var(--white);
  }
}

.quiet {
  border: none;
}

.small-wrapper {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  &:focus {
    padding: 0;
  }
  &:hover {
    padding: 0;
  }
}
.medium-wrapper {
  width: 2.5rem;
  height: 2.5rem;
}
.large-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  &:focus {
    padding: 0;
  }
  &:hover {
    padding: 0;
  }
}
.x-large-wrapper {
  width: 4.5rem;
  height: 4.5rem;
}