.base {
  border-radius: 1rem;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.bgPrimary {
  background-color: var(--primary);
  color: var(--white);
}

.bgPrimarySubtle {
  background-color: var(--bs-primary-bg-subtle);
  color: var(--back);  
}