/* Pagination root */
.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 4px;
}
