.li {
  display: inline-block;
  font-family: var(--font-family-trebuchet-ms);
  cursor: pointer;
  border: 0;
  font-weight: 700;
  transition: all 0.5s;

  background-color: var(--primary);
  &:focus {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:hover {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow);
  }
}

.li a {
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  color: var(--primary-color);
}

.li a:hover {
  padding: 1rem 2rem;
}

.rounded {
  border-radius: 0.6rem;
}

.square {
  border-radius: 0;
}
