.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 20vh;
  width: 20%;
  position: fixed;
  top: 40px;
  background: #b65be1;
  z-index: 100;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
}